.sidebar{
    flex:3;
    height:91.5356711004vh;
    overflow-y: scroll;
    position: sticky;
    top: 70px;
}
::-webkit-scrollbar{
    width: 1px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: white;
}
.suggestionTitle{
    font-family: 'Poppins', sans-serif;
}
.sidebarWrapper{
    padding: 20px;
}
.sidebarList{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebarListItem{
    display: flex;
    align-items: center;
    padding: 10px;
}
.sidebarDropdownList{
    list-style: none;
    opacity: 1;
    transition: all 0.5s;
}
.ExpandedList{
    margin: 4px;
    margin-left: 30px;
}
.sidebarListItemWithDropDown{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;  
    
}
.hiddenDropdownList{
    opacity: 0;
    position: absolute;
    transform: translateY(-30px);
    top: 75px;
    /*transition: all 0.5s;*/ 
}
.sidebarListItem:hover{
background-color: rgb(221, 209, 209);
}

.sidebarListItemWithDropDown:hover{
    background-color: rgb(221, 209, 209);
}
.sidebarIcon{
    padding-right:15px;
}
.sidebarButton{
    width: 150px;
    border: none;
    padding: 10px;
    /*border-radius: 5px;*/
    font-weight: 500;
}
.sidebarHr{
margin:20px 0; 
}
.sidebarFriendList{
    padding:0;
    margin:0;
    list-style:none;
}
.sidebarFriend{
    display:flex;
align-items: center;
margin-bottom: 15px;
}
.sidebarFriendImg{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    /*margin-top: 10px;*/
}
.sidebarFriendName{
    display: flex;
    justify-content: center;
    align-items: center;
}