.share{
    width: 100%;

    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.39); 
    box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.39);
}
.shareWrapper{
    padding: 10px;
}
.shareProfileImg{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
#file{
    display: none;
}
.shareInput{
    border: none;
    width: 80%;
    font-size: 16.5px;
}
.shareTop{
    display: flex;
    align-items: center;
}
.shareInput:focus{
    outline: none;
}
.shareHr{
    margin: 15px;
}
.shareBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shareOptions{
    display: flex;
    margin-left: 10px;
}
.shareOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}
.shareIcon{
    font-style: 18px;
margin-right: 5px;
}
.shareOptionText{
    font-style: 14px;
     font-weight: 500;
}
.shareButton{
    border: none;
    padding: 7px;
    border-radius:5px;
    background-color: green;
    font-weight: 500;
    cursor: pointer;
    margin-right: 20px;
    color: white;
}
.shareImgContainer{
    padding: 0 20px 10px 20px;
    position: relative;
}
.file{
    display: none;
}
.shareImg{
    width: 100%;
    object-fit: cover;
}
.shareCancelImg{
 position: absolute;
 right: 520px;
cursor: pointer;
    opacity: 0.5;
}
