.share{
    width: 100%;

    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.39); 
    box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.39);
}
.progress-ring__circle{
    transition: stroke-dashoffset 0.3s ease-in-out;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.shareWrapper{
    padding: 10px;
}
.progress-ring{
   position: absolute; 
   top: 50%;
   left: 50%;
   transform:translate(-50%, -50%);
}
.shareProfileImg{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
#file{
    display: none;
}
.shareInput{
    border: none;
    width: 80%;
    font-size: 16.5px;
}
.shareTop{
    display: flex;
    align-items: center;
}
.shareInput:focus{
    outline: none;
}
.shareHr{
    margin: 15px;
}
.shareBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shareOptions{
    display: flex;
    margin-left: 10px;
}
.shareOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}
.shareIcon{
    font-style: 18px;
margin-right: 5px;
}
.shareOptionText{
    font-style: 14px;
     font-weight: 500;
}
.shareButton{
    border: none;
    padding: 7px;
    border-radius:5px;
    background-color: green;
    font-weight: 500;
    cursor: pointer;
    margin-right: 20px;
    color: white;
}
.shareImgContainer{
    padding: 0 20px 10px 20px;
    position: relative;
}
.file{
    display: none;
}
.shareImg{
    width: 100%;
    object-fit: cover;
}
.shareCancelImg{
 position: absolute;
 right: 520px;
cursor: pointer;
    opacity: 0.5;
}
.locationOptionsModal{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    text-transform: uppercase;
    padding: 4px;
    transition: all 0.35s;
    z-index: 51;
}
.LocationItemList{
    display: flex;
    margin-top: 5px;
    align-items: center;
    cursor: pointer;
}
.CustomLocationEditorContainer{
    display: flex;
    justify-content: center;
    padding: 0px;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.CustomLocationEditor{
    border: none;
    margin-bottom: 0px;
    font-size: 17px;
    width: 275px;
}
.CustomLocationEditor::placeholder{
    font-size: 14px;
}
.HiddenLocationOptionsModal{
    position: absolute;
    opacity: 0;
    top: 150px;
    right: 50%;
    z-index: -1;
}
.addLocationBtn{
    border: none;
    padding: 2.5px;
    border-radius: 0px;
    margin-top: 2.5px;
    position: absolute;
    font-size: 13.5px;
    right: 2px;
}
.addLocationBtn:hover{
    border: none;
    padding: 2.5px;
    border-radius: 0px;
    margin-top: 2.5px;
    position: absolute;
    font-size: 13.5px;
    right: 2px;
}