.profile{
    display: flex;
}
.profileRight{
    flex:10
}
.profileRightOverlay{
    flex:10;
   transition:all 0.4s;
   background-color: rgba(255, 0, 0, 0.1);
}
.profileRightTopOverlay{
        position: relative;
}
.profileRightBottom{
    display: flex;
}
.profileCover{
    height: 2px;
    position: relative;
}
.updateModal{
    position: absolute;
    left: 55px;   
}
.test{
    z-index: 55;
    font-size: 100px;
}
.profileRightTop{
    position: relative;
}
.profilePictureClicked{
    position: absolute;
    top: 50px;
    width: 800px;
    height: 600px;
    left: 100px;
    object-fit: contain;
    background-color: white;
    background-blend-mode: overlay;
    border: 2px solid #5b54fa;
    z-index: 5;
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s;
}

.hiddenProfilePictureContainer{
    height: 0px;
    width: 0px;
}
.profilePictureNotClicked{
    position: absolute;
    top: 300px;
    left:550px;
    width: 100px;
    height: 100px;
    object-fit: contain;
    transform: scale(0.1);
   /* opacity: 0;*/
    transition: all 0.5s;
}
.profilePictureContainer{
    opacity: 1;
    transition: all 0.5s;
}
.newProfilePicture,.uploadNewProfilePicture{
    position: absolute;
    z-index: 5;
    left: 660px;
   top: 600px;
   outline: none;
   border: none;
   padding: 10px;
}
.showupdateModal{
    position: absolute;
    opacity: 1;
    transition: all 0.5s;
    z-index: 5;
    opacity: 1;
}
.hiddenupdateModal{
    position: absolute;
    opacity: 0;
    transform: scale(0.1);
    transform:  translateX(50px);
    transition: all 0.5s;
}
.submitButton{
    z-index: 5;
    position: absolute;
    left: 600px;
    top: 600px;
    border: none;
}
.submitButton:hover{
border-radius: 0px;
}
.newProfilePicture{
    display: none;
}
.uploadNewProfilePicture{
    cursor: pointer;
    color:#5b54fa ;
    transition: all 0.5s;

}
.uploadNewProfilePicture:hover{
    background-color: #5b54fa;
    color: white;
}
.closeLogo{
    position: absolute;
    right: 330px;
    z-index: 55;
    top:55px;
    color:#5b54fa;
    opacity: 1;
    cursor: pointer;
    transform: scale(1);
    transition: all 2s;

}
.hiddenCloseLogo{
    position: absolute;
    opacity: 0;
    right: 330px;
    z-index: 55;
    top:55px;
    color:#5b54fa;
    cursor: pointer;
    transform: scale(0);
    transition: transform 2s ;
}
.closeLogo:hover{
    transform: scale(1.1);
}
.update{
position: absolute;
top: 400px;
left: 750px;
padding: 5px;
font-size: 18px;
outline: none;
border: none;
border-radius: 5px;
color: #5b54fa;
transition: all 0.5s;
letter-spacing: 0.6px;
}
.update:hover{
    color: white;
    background-color: #5b54fa;
}

.profileCoverImg{
    width: 100%;
    height: 350px;
object-fit: cover;
border-radius: 2px ;
cursor: pointer;
}
.profileUserImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 250px;
    z-index: 5;
    border: white solid 4px;
    cursor: pointer;
  
}
.profileInfoName{
    padding-top: 60px;
   text-align: center;
   font-size: 25px;
}
.profileInfoDesc{
text-align: center;
display: flex;
justify-content: center;
margin: 15px;
margin-top: 0px;

}
.profileRightTop{
    position: relative;
}