*{
    margin: 0;
    padding: 0;
}
.topbarRight{
    display: flex;
    justify-content: space-evenly;
}
.topbarContainer{
    height: 70px;
    width: 100%;
    background-color: #5b54fa;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 90;
}
.topbarLeft{
    flex:3;
}
.topbarCenter{
    flex:5;
}
.chatLogo{
    color: white;
    transition: ease-in 2s;
}

.topbarRight{
 color: white;
flex:4;
display:flex;
align-items: center;
justify-content: space-around;
position: relative;
}
.topbarImg{
    width :48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    background-color: white;
    background-position: center;
    transition: all 0.5s;
    z-index: 1;
    box-shadow: 6px 2px 23px -2px rgba(0,0,0,0.69);
    -webkit-box-shadow: 6px 2px 23px -2px rgba(0,0,0,0.69);
    -moz-box-shadow: 6px 2px 23px -2px rgba(0,0,0,0.69);
}
.topbarImgLink{
    z-index: 1;
}
.dropdownMenu{
    position: relative;
}
.dropdownList{
    list-style-type: none;
    background-color: white;
    position: absolute;
    opacity: 1;
    padding-right: 0px;
    padding-left: 0px;
    right: -8px;
    top: -5px;
    z-index: 99;
    height: 100px;
    cursor: pointer;
    font-size: 20px;
}
hr.line{
    color:#5b54fa;
}
li.dropdownText{
    color:#5b54fa;
    transition: all 0.5s;
}
li.dropdownText:hover{
    background-color:#5b54fa;
    color: white;
}
.dropdownLogo{
    transform: scale(1.2);
    cursor: pointer;
    position: absolute;
    left: 28px;
    z-index: 5;
    color: white;
    top: 30px;
}
.profileEdit{
    position: relative;
}
.topbarIconItem{
    margin-right: 15px;
    cursor:pointer;
    position: relative;
}
.logo{
    font-size: 24px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding-left: 15px;
    cursor: pointer;
}
.searchBar{
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    align-items: center;

}
.searchIcon{
    font-size: 30px !important;
    cursor: pointer;
}
.searchInput{
    border: none;
    width: 80%;
    outline: none;
    font-size: 20px;
    margin-top: 10px;
}
.topbarLink{
    margin-right: 25px;
    color: white;
    padding: 5px;
    font-size: 19px;
    cursor: pointer;
    transition: all 0.5s;
    transform: scale(1.1);
    transform-style: preserve-3d;
}
.topbarLink:hover{
    box-shadow: 6px 2px 23px -2px rgba(0,0,0,0.69);
    -webkit-box-shadow: 6px 2px 23px -2px rgba(0,0,0,0.69);
    -moz-box-shadow: 6px 2px 23px -2px rgba(0,0,0,0.69);
    transform: translateZ(15px);
    transform-style: preserve-3d;
}
.topbarLinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.searchModal{
    flex-wrap: wrap;
background-position: top;
margin-left: 415px;
background-color: white;
max-width: 600px;
-webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.39); 
box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.39);
}
.searchListContainer{
    -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.39); 
    box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.39);
    list-style-type: none;
}
.searchItemProfilePicture{
    object-fit: cover;
    max-width: 30px;
    max-height: 50px;
    border-radius: 50%;
}
.searchComponent{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.searchItemUsename{
    font-style: 18px;
}