.login {
  width: 100vw;
  height: 100vh;
  background-color: white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showWrongPassword{
color: red;
text-align: center;
font-weight: 300;
margin-top: 10px;
opacity: 1;
transition: 0.35s all;
}
.hideWrongPassword{
  opacity: 0;
  color: black;
text-align: center;
font-weight: 300;
margin-top: 10px;
}
.loginWrapper {
  height: 70%;
  width: 70%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.39);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #5b54fa;
  padding-left: 25px;
}
.loginDesc {
  font-size: 24px;
  color: #5b54fa;
  padding-left: 25px;
}
.loginBox {
  display: flex;
  flex-direction: column;
  height: 300px;
  align-items: center;
  position: relative;
}
.loginInput {
  margin-bottom: 40px;
  width: 300px;
  height: 35px;
  border-radius: 5px;
  border-color: #5b54fa;
}
.loginInput:focus {
  outline-style: none;
}
.loginButton {
  margin-bottom: 10px;
  width: 305px;
  height: 30px;
  border: none;
  background-color: #5b54fa;
  color: white;
  border-radius: 5px;
}
.loginButton:disabled{
  cursor: not-allowed;
}
button {
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  font-weight: 400;
}
.loginProblemContainer {
  display: flex;
  margin: 0;

}

.loginRegistration {
  height: 30px;
  font-size: 16px;
  background-color: white;
  color: #5b54fa;
  border: none;
  outline: none;
  border-radius: 5px;

}
.loginForgot {
  height: 30px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 16px;
  margin-right: 15px;
  background-color: white;
  color: #5b54fa;
  border: none;
  outline: none;
  border-radius: 5px;
}
#btn3:hover {
  background-color: white;
  transition: ease-in 0.3s;
  color: #5b54fa;
}
#btn2:hover,
#btn3:hover {
  background-color: #5b54fa;
  transition: ease-in 0.3s;
  color: white;
}
.loginButton:hover {
  background-color: white;
  transition: ease-in 0.3s;
  color: #5b54fa;
}
.passwordInputContainer{
  display: flex;
  height: 39px;
  /* justify-content: flex-end; */
  width: 300px;
  margin-bottom: 40px;
  border:2px solid #5b54fa;
  border-radius: 5px;
}
.showPassword{
  align-self: center;
  margin-left: 20px;
}
/* .showPassword{
  position: absolute;
  top: 102px;
  left: 365px;
  cursor: pointer;
} */
.loginInputPassword{
  margin-bottom: 40px;
  width: 250px;
  justify-self: flex-start;
  height: 35px;
  border: none;
  /* border-radius: 5px;
  border-color: #5b54fa; */
}
.hidePassword{
  align-self: center;
  margin-left: 20px;
}