.singleReplyComponent{
    background-image: linear-gradient(to bottom, #d2d0e7, #f0e3e3,#d2d0e7);
    margin-top: 5px;
    border-radius: 10px;
    width: 300px;
    margin-left: 18px;
    padding: 5.8px;
}